.homeSectionMargin {
  // don't remove applicable when scalling implementation
  /*   @media (min-width: 1536px) {
    padding-left: 20rem;
  }
  @media (min-width: 1440px) and (max-width: 1535px){
    padding-left: 8.5rem;
  }
  @media (min-width: 1420px) and (max-width: 1439px){
    padding-left: 8rem;
  }
  @media (min-width: 1380px) and (max-width: 1419px){
    padding-left: 7rem;
  }
  @media (min-width: 1351px) and (max-width: 1379px){
    padding-left: 3.5rem;
  }
  @media (min-width: 1300px) and (max-width: 1350px){
    padding-left: 4rem;
  }
  @media (min-width: 1280px) and (max-width: 1299px) {
    padding-left: 4rem;
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    padding-left: 2.5rem;
  } */

  @media (min-width: 1375px) {
    padding-left: calc(50vw - 620px);
  }
  @media (min-width: 1024px) and (max-width: 1374px) {
    padding-left: 4.5rem;
  }
}
